<! doctype html>

{% load static %}
<html lan='en'>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> CRUD Asad Farooq khan</title>

    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
</head>

</body>
    {% block content %} {% endblock content%}
    <div class="container mt-4">
        <h2 class="text-center alert alert-danger">Function Based View Modelform CRUD-Project </h2>
    </div>
<script src="{% static 'enroll/js/jquery.js' %}"></script>
<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>

</html>